#canvas {
    height: 100vh;
    width: 100vw;
}

#game {
   
    display: none;
}

#active{
    display:block;
}

#none{
    display: none;
}

#game-start{
    width: 100vw;
    background-image: url(../images/portada.jpg);
    background-size: cover;
    height: 100vh;
}
#btn{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}


.start {
    
    display: block;
    
}